<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Intern at
      <a class="underline-link" href="https://smoketrees.in/" target="_blank">SmokeTrees</a> building things for the web with some awesome people. I am studying in
      <a class="underline-link" href="https://vit.ac.in/" target="_blank">Vellore institute of technology,vellore</a>.
    </p>

    <p>
      As a software engineer, I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge
      to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>If I'm not coding in front of a computer screen</strong>, I'm probably gaming,
      listening to podcasts or learning something new.
    </p>

    {% include employment-status.html %}
  </div>
</section>
