<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a rel="noreferrer" href="https://meribachat.in/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/meribatchat/meribatchat.webp" alt="meri batchat website">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a rel="noreferrer" href="https://meribachat.in/" target="_blank">MeriBatchat</a>
        </div>
        <p>MeriBachat is India's largest discounted gift vouchers & cashback offers platform with 450+ popular brands with variety
        of categories. Join us & Save Money!!</p>
      </figcaption>
    </div>
    <div class="project blistabloc">
      <figure class="project__pic">
        <a rel="noreferrer" href="https://www.dwellingo.in/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/dwellingo/dwellingo.webp" alt="dwellingo website">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a rel="noreferrer" href="https://www.dwellingo.in/" target="_blank">Dwellingo</a>
        </div>
        <p>Dwellingo is a Real Estate Developer providing design-centered, serviced-home experiences to working professionals,
        students & seniors.</p>
      </figcaption>
    </div>

    <!-- <div class="project blistabloc">
      <figure class="project__pic">
        <a rel="noreferrer" href="https://smoketrees.dev/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/smoketrees/smoketrees.webp" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a rel="noreferrer" href="https://smoketrees.dev/" target="_blank">SmokeTrees</a>
        </div>
        <p>SmokeTrees was born from an idea to bring the best developers out there onto a single platform to create the ultimate
        community of coders, who are dedicated to serving the world.</p>
      </figcaption>
    </div> -->

    <div class="project interventions">
      <figure class="project__pic">
        <a rel="noreferrer" href="https://menova.org/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/menova/menova.webp" alt="menova website">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a rel="noreferrer" href="https://menova.org/" target="_blank">Menova</a>
        </div>
        <p>Menova is a learning platform that doesn’t feel like one. Introducing Menova Labs- taught by extraordinaries,
        designed by creators, produced by cinematographers.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a rel="noreferrer" href="https://www.blusteak.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blusteak/blusteak.webp" alt="blusteak website">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a rel="noreferrer" href="https://www.blusteak.com/" target="_blank">Blusteak</a>
        </div>
        <p>Blusteak Media is a creative digital marketing agency located at Kottayam, Kerala. Our goal is to revolutionize
        marketing using the power of the internet.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a rel="noreferrer" href="https://equipo.io/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/equipo/equipo.webp" alt="equipo website">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a rel="noreferrer" href="https://equipo.io/" target="_blank">Equipo</a>
        </div>
        <p>Equipo provides a population health management platform that simplifies care by empowering care teams with care
        coordination tools that are built on the central tenets of risk stratification, needs assessment, care plan design,
        patient engagement and outcomes measurement.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a rel="noreferrer" href="https://kidscur.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/kidscur/kidscur.webp" alt="Rainmaker website">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a rel="noreferrer" href="https://kidscur.com/" target="_blank">Kidscur</a>
        </div>
        <p>Track Vaccination schedule and Growth of your kid using KidsCur. Keep all the medical files for your kid organized at
        one place with all data encrypted end-to-end.</p>
      </figcaption>
    </div>
    <div class="project interventions">
      <figure class="project__pic">
        <a rel="noreferrer" href="https://adarshsingh87.github.io/rainmaker/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/rainmakerba/rainmakerba.webp" alt="Rainmaker website">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a rel="noreferrer" href="https://adarshsingh87.github.io/rainmaker/" target="_blank">Rainmaker BA</a>
        </div>
        <p>Rainmaker BA was business analytics company based in Bahrain which has since gone under, take a look at their previous site created by me.</p>
      </figcaption>
    </div>
  </div>
</section>
