<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://meribachat.in/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/meribatchat/meribatchat.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://meribachat.in/" target="_blank">MeriBatchat</a>
        </div>
        <p>MeriBachat is India's largest discounted gift vouchers & cashback offers platform with 450+ popular brands with variety
        of categories. Join us & Save Money!!</p>
      </figcaption>
    </div>

    <!-- <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://smoketrees.dev/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/smoketrees/smoketrees.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://smoketrees.dev/" target="_blank">SmokeTrees</a>
        </div>
        <p>SmokeTrees was born from an idea to bring the best developers out there onto a single platform to create the ultimate
        community of coders, who are dedicated to serving the world.</p>
      </figcaption>
    </div> -->

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://menova.org/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/menova/menova.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://menova.org/" target="_blank">Menova</a>
        </div>
        <p>Menova is a learning platform that doesn’t feel like one. Introducing Menova Labs- taught by extraordinaries,
        designed by creators, produced by cinematographers.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://www.blusteak.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blusteak/blusteak.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.blusteak.com/" target="_blank">Blusteak</a>
        </div>
        <p>Blusteak Media is a creative digital marketing agency located at Kottayam, Kerala. Our goal is to revolutionize
        marketing using the power of the internet.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://equipo.io/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/equipo/equipo.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://rainmakerba.com/" target="_blank">Equipo</a>
        </div>
        <p>Equipo provides a population health management platform that simplifies care by empowering care teams with care
        coordination tools that are built on the central tenets of risk stratification, needs assessment, care plan design,
        patient engagement and outcomes measurement.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://rainmakerba.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/rainmakerba/rainmakerba.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://rainmakerba.com/" target="_blank">Rainmaker BA</a>
        </div>
        <p>Rainmaker BA is business analytics company with the knowledge and experience to help you make the right decisions at the right time with the
        help of state of art analytics skills.</p>
      </figcaption>
    </div>
  </div>
</section>
